<template>
  <v-content>
    <v-card-text>
      <v-form
        ref="form"
      >
        <v-text-field
          ref="firstNumber"
          v-model="firstNumber"
          :rules="[
            () => (!!firstNumber && /^\d+$/.test(firstNumber)) || 'Введите число',
          ]"
          prepend-icon="mdi-numeric-1-box"
          label="Первое число"
          required
        />
        <v-text-field
          ref="secondNumber"
          v-model="secondNumber"
          :rules="[
            () => (!!secondNumber && /^\d+$/.test(secondNumber)) || 'Введите число',
          ]"
          prepend-icon="mdi-numeric-2-box"
          label="Второе число"
          required
        />
        <v-input
          ref="operation"
          v-model="operation"
          prepend-icon="mdi-calculator-variant"
          label="Операция"
          :rules="[() => !!operation || 'Выберете операцию']"
          :messages="checkAllows() ? 'Все операции заблокированы - обратитесь с администратору' : ''"
          required
        >
          <v-btn-toggle class="ml-2" v-for="item in operationList" :key="item.value" in v-model="operation">
            <v-btn :value="item.value" :disabled="item.disabled" color="general">
              <v-icon>{{ item.icon }}</v-icon>
            </v-btn>
          </v-btn-toggle>
        </v-input>
      </v-form>

      <v-divider/>

      <v-text-field
              prepend-icon="mdi-equal-box"
              label="Ответ"
              :readonly="true"
              required
              v-model="result"
      />
    </v-card-text>

    <v-card-actions>
      <v-spacer/>
      <v-btn
              align-center
              justify-center
              color="general"
              @click="calculate"> Вычислить
      </v-btn>
    </v-card-actions>
    <v-snackbar
            v-model="snackbar"
            :color="color"
            :top="true"
    >
      {{ errorMessages }}
      <v-btn
              dark
              flat
              @click="snackbar = false"
      >
        Close
      </v-btn>
    </v-snackbar>

  </v-content>
</template>

<script>
export default {
  data: function () {
    return {
      firstNumber: '',
      secondNumber: '',
      operation: '',
      result: '',
      errorMessages: 'Incorrect data info',
      snackbar: false,
      color: 'general',
      operationList: {},
    };
  },

  created() {
    this.$store.dispatch('getOperationList')
      .then(response => {
        this.operationList = response.data.map((item) => {
          return {
            value: item.id,
            icon: this.itemIcon(item),
            disabled: !item.allow
          };
        })
      })
      .catch(err => {
        this.snackbar = true
        this.errorMessages = err.message
      })
  },

  // Sends action to Vuex that will log you in and redirect to the dash otherwise, error
  methods: {
    checkAllows: function() {
      return !this.operationList.filter(item => !item.disabled).length
    },
    itemIcon: function(item) {
      switch (item.name) {
        case 'addition':    return 'mdi-plus';
        case 'subtraction': return 'mdi-minus';
      }
      return 'diameter-variant';
    },
    login: function () {
      let username = this.username
      let password = this.password
      this.$store.dispatch('login', { username, password })
        .then(() => this.$router.push('/dashboard/operations'))
        .catch(err => { this.snackbar = true })
    },
    calculate: function () {
      if (!this.$refs.form.validate()) {
        return;
      }

      let firstNumber = this.firstNumber
      let secondNumber = this.secondNumber
      let operation = this.operation

      this.$store.dispatch('calculate', { numbers: [firstNumber, secondNumber], operation })
        .then(response => {
          this.result = response.data.result;
        })
        .catch(err => {
            this.snackbar = true
        })
    }
  }
}
</script>

<style scoped>
  .v-label {
    display: block !important;
  }
</style>
