<template>
  <v-container
    fill-height
    fluid
    grid-list-xl
  >
    <v-layout
      justify-center
      wrap
    >
      <v-flex
        md12
      >
        <div>
          <material-card
            color="general"
            title="Operation list"
          >
            <v-spacer/>
            <v-text-field
              v-model="search"
              append-icon="search"
              label="Search"
              single-line
              hide-details/>

            <v-data-table
              :headers="headers"
              :items="UserList"
              :rows-per-page-items ="rowsAmount"
              :search="search"
              class="elevation-1"
            >
              <!-- change table header background and text color(or other properties) -->
              <template
                slot="headerCell"
                slot-scope="{ header }"
              >
                <span
                  class="subheading font-weight-light text-general text--darken-3"
                  v-text="header.text"
                />
              </template>
              <template v-slot:items="props">
                <td>{{ props.item.id }}</td>
                <td>{{ props.item.name }}</td>
                <td>
                  <v-edit-dialog
                    :return-value.sync="allow"
                    large
                    lazy
                    persistent
                    @save="saveAllow(props.item)"
                    @open="openAllow(props.item)"
                  >
                    <v-icon :color="(props.item.allow) ? 'success' : 'black'">
                      mdi-checkbox-marked-circle-outline
                    </v-icon>
                    <template v-slot:input>
                      <v-checkbox
                              v-model="allow"
                              label="Allow"
                              single-line
                              counter
                              autofocus
                      />
                    </template>
                  </v-edit-dialog>
                </td>
              </template>
            </v-data-table>
            <v-snackbar
              v-model="snack"
              :timeout="3000"
              :color="snackColor">
              {{ snackText }}
              <v-btn
                flat
                @click="snack = false">Close</v-btn>
            </v-snackbar>
          </material-card>
        </div>
      </v-flex>

    </v-layout>
  </v-container>
</template>

<script>
export default {
  data: () => ({
    allow: null,
    snack: false,
    snackColor: '',
    snackText: '',
    pagination: {},
    UserList: [],
    rowsAmount: [15, 20, 25, {'text': '$vuetify.dataIterator.rowsPerPageAll', 'value': -1}],
    dialog: false,
    search: '',
    headers: [
      { text: '#', align: 'left', value: 'id'},
      { text: 'name', value: 'name' },
      { text: 'allow', value: 'allow' },
    ],
  }),

  // called when page is created before dom
  created () {
    this.getOperationList()
  },

  methods: {
    getOperationList () {
      this.$http.get('/operations')
        .then(response => {
          this.UserList = response.data
        })
        .catch(error => console.log(error))
    },

    // object.assign fills in the empty object with the properties of item
    editItem (item, dbox = true) {
      this.editedIndex = this.UserList.indexOf(item)
      item.isAdmin = this.checkboxAdmin
      item.isActive = this.checkboxActive
      this.editedItem = Object.assign({}, item)
      this.dialog = dbox
    },

    callTableAction (item, endpoint, method) {
      let tableItem = this.editedItem
      this.$store.dispatch('updateTableItem', {endpoint, tableItem, method})
        .then((response) => this.saveInline())
        .catch(error => {
          console.log(error)
          this.cancelInline
        })
    },
    // toasts/snackbar messages for actions
    saveAllow(item) {
      if (item.allow) {
        this.$store.dispatch('disableOperation', {id: item.id})
                .then((response) => {
                  this.snack = true
                  this.snackColor = 'success'
                  this.snackText = 'Data saved'
                  item.allow = false;
                })
                .catch(error => {
                  this.cancelInline
                })
      } else {
        this.$store.dispatch('enableOperation', {id: item.id})
                .then((response) => {
                  this.snack = true
                  this.snackColor = 'success'
                  this.snackText = 'Data saved'
                  item.allow = true;
                })
                .catch(error => {
                  this.cancelInline
                })
      }
    },
    openAllow(item) {
      this.allow = item.allow;
    },
    cancelInline () {
      this.snack = true
      this.snackColor = 'error'
      this.snackText = 'Canceled'
    },
  }
}
</script>

<style>
table.v-table thead tr {
  color: red !important;
}
tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, .05);
}
</style>
