<template>
  <v-content>
    <v-container
      fill-height
      fluid>
      <v-layout
        align-center
        justify-center>
        <v-flex
          xs12
          sm8
          md4>
          <v-card
            class="elevation-12">
            <v-tabs
              background-color="deep-purple accent-4"
              class="elevation-2"
              dark
              :centered="true"
              :grow="true"
              :vertical="true"
              :right="true"
              prev-icon="mdi-arrow-left-bold-box-outline"
              next-icon="mdi-arrow-right-bold-box-outline"
              :icons-and-text="true"
            >
              <v-tab color="general">
                Калькулятор
                <v-icon>mdi-calculator</v-icon>
              </v-tab>
              <v-tab color="general">
                Войти
                <v-icon>mdi-account</v-icon>
              </v-tab>

              <v-tab-item>
                <tabs-calculator></tabs-calculator>
              </v-tab-item>

              <v-tab-item>
                <v-card-text>
                  <v-form>
                    <v-text-field
                            ref="username"
                            v-model="username"
                            :rules="[() => !!username || 'This field is required']"
                            prepend-icon="mdi-account"
                            label="E-mail"
                            required
                    />
                    <v-text-field
                            ref="password"
                            v-model="password"
                            :rules="[() => !!password || 'This field is required']"
                            :append-icon="showPassword ? 'mdi-eye-off' : 'mdi-eye'"
                            :type="showPassword ? 'text' : 'password'"
                            prepend-icon="mdi-lock"
                            label="Пароль"
                            counter
                            required
                            @keydown.enter="login"
                            @click:append="showPassword = !showPassword"
                    />
                  </v-form>
                </v-card-text>
                <v-divider class="mt-5"/>
                <v-card-actions>
                  <v-spacer/>
                  <v-btn
                          align-center
                          justify-center
                          color="general"
                          @click="login">Войти
                  </v-btn>
                </v-card-actions>
                <v-snackbar
                        v-model="snackbar"
                        :color="color"
                        :top="true"
                >
                  {{ errorMessages }}
                  <v-btn
                          dark
                          flat
                          @click="snackbar = false"
                  >
                    Close
                  </v-btn>
                </v-snackbar>
              </v-tab-item>
            </v-tabs>

          </v-card>
        </v-flex>
      </v-layout>

    </v-container>
  </v-content>
</template>

<script>
export default {
  data: function () {
    return {
      username: '',
      password: '',
      errorMessages: 'Incorrect login info',
      snackbar: false,
      color: 'general',
      showPassword: false
    }
  },

  // Sends action to Vuex that will log you in and redirect to the dash otherwise, error
  methods: {
    login: function () {
      let username = this.username
      let password = this.password
      this.$store.dispatch('login', { username, password })
        .then(() => this.$router.push('/dashboard/operations'))
        .catch(err => {
          console.log(err)
          this.snackbar = true
        }
        )
    }
  },
  metaInfo () {
    return {
      title: 'Калькулятор'
    }
  }
}
</script>
